@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.App { 
  position: relative;
  min-height: 100vh; 
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to left,rgb(35, 38, 139), rgb(158, 190, 250));
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}